body{
    text-align: center;
    background-color:tomato;

}
.world{
    width: 200px;
    height: 200px;

    display: block;
    margin: auto;
    margin-top: 100px;

    border-radius: 50%;

    background-image: url(./src/continent.png);
    background-size: cover;

    box-shadow: inset -30px -40px 0 0 rgba(0,0,0,.15),
                inset -60px -60px 0 0 rgba(0,0,0,.20);

    -webkit-animation: tierra-girando 5s infinite linear;
}
@-webkit-keyframes tierra-girando{
    from{
        background-position: left right;
    }
    to{
        background-position: 372px center;
    }
}