@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

body{
    text-align: center;
    background-color:black ;
    height: 1000px;
}
h1{
    color:indigo ;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.world{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;

    border-radius: 50%;
    box-shadow: -30px -40px 0 0 rgba(0,0,0,.15) inset,
                -60px -60px 0 0 rgba(0,0,0,.20) inset;

    background: url(./img/continent.png);
    background-size: cover;

    -webkit-animation: tierra-girando 5s infinite linear;
}
@-webkit-keyframes tierra-girando{
    from{
        background-position: left right;
    }
    to{
        background-position: 372px center;
    }
}

.heart{
    position:relative;
    right: 30px;

    height: 200px;
    width: 120px;

    transform: rotate(-45deg);
    border-radius: 80px 80px 0 0 ;

    margin: auto;

    background-color: red;
}
.heart::before {
    content: "";

    position: absolute;
    left: 40px;
    top: 40px;

    height: 200px;
    width: 120px;

    background-color: red;

    transform: rotate(90deg);
    border-radius:80px 80px 0 0 ;
}

.amorcito{
    padding: 15px;
    display: inline-block;
    border: 10px solid ;
    border-image-slice: 1;
    border-width: 15px;
    border-image-source: linear-gradient(to right top, #d16ba5, #69bff8, #5ffbf1 );

}
