body{
    background-color: #fd6d6d;
}
img{
    display: block;
    margin:auto;
    padding: 0;

    width: 60%;
    height: auto;
    border-radius: 10%;

    clip-path:circle(150px at 393px 220px);

    transition: clip-path .3s ;
}
img:hover{
    clip-path: circle(800px at center);
} 