body{
    background-color: black;
}
h1{
    color:white;
    text-align: center;
}
img.luna{
    display: block;

    width: 400px;
    height: auto;
    border-radius: 15%;

    float:right;
    margin: 0px;

    clip-path: circle(130px at 50% 220px);

    shape-outside: circle(140px at 160px 220px) margin-box;

    transition: clip-path .3s ;
}

img:hover{
    clip-path: circle   (800px at center);
}

.text{
    color: white;

    text-align: justify;

    font-size: 18px;

    padding: 20px;
}

img.dragon{

    position: relative;

    right: 80px;

    width: 400px;
    height: auto;

    filter: invert(100%);

    float: left;

    clip-path: circle(150px at 50% 200px);

    shape-outside: circle(140px)content-box;

}